.cpcache/
.nrepl-port
*.jar
target/
.clj-kondo/.cache/
node_modules/
package-lock.json
.nbb/
kekkai-node.edn
build/
platform/android/.gradle/
platform/android/build/
platform/android/app/build/
platform/desktop/target/
